<%= form_for(@movie) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.label :released_on %>
		<%= f.datetime_select :released_on %>
	</p>
	<p><%= f.submit %></p>

<% end %>