<h1><%= @movie.name %></h1>

<p><%= @movie.description %></p>

<h3>When</h3>
<p><%= @movie.released_on %></p>

<% if favourite = Favourite.where(user_id: current_user.id, movie_id: @movie.id).first %>

<%= link_to 'Dislike', movie_favourite_path(@movie.id, favourite.id), method: :delete, class: 'button alert' %>

<% else %>

<p><%= button_to 'LIKE', movie_favourites_path(@movie), class: 'button primary' %></p>

<% end %>

<% if @favourites %> 
	<h3> favouriter </h3>
	<ul>
		<% @favourites.each do |user| %>
			<li><%= user.email %></li>
		<% end %>
	</ul>
<% end %>

<p><%= link_to "Show all movies", movies_path %></p>