<p id="notice"><%= notice %></p>

<h1>Likes</h1>

<table>
  <thead>
    <tr>
      <th>Quality</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @likes.each do |like| %>
      <tr>
        <td><%= like.quality %></td>
        <td><%= like.book %></td>
        <td><%= link_to 'Show', book_like_path(@book.id, like.id) %></td>
        <td><%= link_to 'Edit', edit_book_like_path(@book.id, like.id) %></td>
        <td><%= link_to 'Destroy', book_like_path(@book.id, like.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Like', new_book_like_path %>
