<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
    
<<<<<<< HEAD
      <div class="row float-right">
=======
      <div class="row float">
>>>>>>> ab48a35154bf86a13ffa76948197016cf19b36e4
        <%= image_tag 'logo.jpg' %>  
      </div>
      <div class="clearfix">
      
      <%= render 'layouts/top_bar' %>

      </div>

      <div class="row">
        <div class="medium-3 columns">
          <%= render 'layouts/side_bar' %>
        </div>
        <div class="medium-9 columns" >
          <%= yield %>
        </div>
      </div>

    </div>
  </body>
</html>
